img.displayitem
{
  width:300px;
  height:300px;
  border: black solid 2px;
}
div.displayitem
{
  width:300px;
  border: black solid 2px;
  background-color: lightyellow;
}
button
{
  font-size: 18px;
  font-weight: bold;
}
table,td
{
  border: black solid 2px;
  background-color: lightyellow;
}
body
{
  background-image: url("BoardSquare.png");
  background-repeat: repeat;
}
